@charset "UTF-8";

.repl-ai-chatboard {
  display: table-cell;
    z-index: 20000;
  position: fixed;
  bottom: 0px;
/*  right: 0;*/
  left:  10px
  width: 360px;
  height: 500px;
  background-color: #fff !important;
 }

  @media screen and (max-width: 420px) {
    .repl-ai-chatboard {
      width: 100%; } }
  .repl-ai-chatboard .repl-ai-chatboard-header {
    width: 100%;
    height: 60px; }
    .repl-ai-chatboard .repl-ai-chatboard-header .chat-name {
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 9px;
      height: 36px;
      line-height: 18px; }
      .repl-ai-chatboard .repl-ai-chatboard-header .chat-name .repl-ai-chatboard-close-button {
        display: none;
        float: right;
        margin-right: 9px; }
    .repl-ai-chatboard .repl-ai-chatboard-header .powered-by-repl-ai {
      width: 100%;
      height: 24px;
      display: inline-block; }
      .repl-ai-chatboard .repl-ai-chatboard-header .powered-by-repl-ai .powered-by {
        float: right;
        margin-right: 9px;
        margin-top: 5px;
        height: 23px;
        display: inline-block; }
      .repl-ai-chatboard .repl-ai-chatboard-header .powered-by-repl-ai .repl-ai-logo {
        float: right;
        margin-top: 6px;
        margin-right: 9px;
        height: 15px;
        border-style: none; }
  .repl-ai-chatboard .repl-ai-utterances-container {
    padding: 9px;
    width: 342px;
    height: 373px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0px); }
    @media screen and (min-width: 421px) {
      .repl-ai-chatboard .repl-ai-utterances-container {
        max-height: 373px; } }
    @media screen and (max-width: 420px) {
      .repl-ai-chatboard .repl-ai-utterances-container {
        width: 95.55%; } }
  .repl-ai-chatboard .repl-ai-chatboard-form {
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    height: 36px;
    bottom: 10px !important; }
    @media screen and (max-width: 420px) {
      .repl-ai-chatboard .repl-ai-chatboard-form {
        bottom: 10px; } }
    .repl-ai-chatboard .repl-ai-chatboard-form .send-button, .repl-ai-chatboard .repl-ai-chatboard-form .repl-ai-chatboard-custom-button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 2px;
      display: inline-block;
      padding-top: 12px;
      padding-bottom: 0px;
      line-height: 200%;
      width: 15%;
      height: 46px; }
      @media screen and (max-width: 420px) {
        .repl-ai-chatboard .repl-ai-chatboard-form .send-button, .repl-ai-chatboard .repl-ai-chatboard-form .repl-ai-chatboard-custom-button {
          padding-top: 11px; } }
    .repl-ai-chatboard .repl-ai-chatboard-form .repl-ai-chatboard-custom-button {
      right: 15%; }
    .repl-ai-chatboard .repl-ai-chatboard-form input[type=text] {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 2px;
      float: left;
      padding-left: 9px;
      padding-right: 9px;
      padding-top: 7px;
      padding-bottom: 5px;
      width: 85%;
      height: 46px; }
      @media screen and (max-width: 420px) {
        .repl-ai-chatboard .repl-ai-chatboard-form input[type=text] {
          padding-top: 4px;
          padding-bottom: 7px; } }
      @media screen and (max-width: 420px) {
        .repl-ai-chatboard .repl-ai-chatboard-form input[type=text] {
          width: 84%; } }

.repl-ai-chatboard.close {
  display: none;
  bottom: -440px; }
  .repl-ai-chatboard.close .repl-ai-chatboard-close-button,
  .repl-ai-chatboard.close .repl-ai-chatboard-form {
    display: none; }

.repl-ai-chatboard {
  font-family: "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", Arial, sans-serif;
  border: 1px solid #e8e8e8; }
  @media screen and (max-width: 420px) {
    .repl-ai-chatboard {
      border: none; } }
  .repl-ai-chatboard .repl-ai-chatboard-header {
    background-color: #ffffff; }
    .repl-ai-chatboard .repl-ai-chatboard-header .minus {
      position: absolute;
      top: 5px;
      right: 4px;
      padding: 0;
      margin: 0;
      height: 20px;
      color: #ffffff;
      font-size: 30px;
      line-height: 20px;
      font-weight: bold;
      cursor: pointer; }

#repl-ai-chatboard-icon {
  display: inline-block;
  position: fixed;
/*  right: 18px;*/
  left    18px;
  bottom: 15px;
  z-index: 99999;
  cursor: pointer;
  text-align: center; }
  @media screen and (max-width: 420px) {
    #repl-ai-chatboard-icon {
      right: 18px;
      bottom: 18px; } }
  #repl-ai-chatboard-icon .fa {
    display: none; }

#repl-ai-chatboard-icon.default {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #43D172;
  box-shadow: 1px 1px 3px 1px #dbdbdb;
  -moz-box-shadow: 1px 1px 3px 1px #dbdbdb;
  -webkit-box-shadow: 1px 1px 3px 1px #dbdbdb;
  text-align: center; }
  #repl-ai-chatboard-icon.default img {
    display: inline-block;
    width: 60px;
    height: 60px; }
  #repl-ai-chatboard-icon.default .fa {
    display: inline-block;
    color: #ffffff;
    margin-top: 12px;
    font-size: 32px; }
  #repl-ai-chatboard-icon img {
    width: 80px;
    transition: width .1s ease-in-out;
  }
  #repl-ai-chatboard-icon:hover img {
    width: 100px;
  }

.repl-ai-chatboard-header {
  text-align: left;
  border-bottom: 2px solid #e8e8e8;
  cursor: pointer; }
  .repl-ai-chatboard-header .chat-name {
    font-size: 18px;
    color: #ffffff;
    background-color: #43D172; }
    .repl-ai-chatboard-header .chat-name .repl-ai-chatboard-close-button {
      cursor: pointer;
      color: #ffffff; }
  .repl-ai-chatboard-header .powered-by-repl-ai {
    text-align: right; }
    .repl-ai-chatboard-header .powered-by-repl-ai .powered-by {
      color: #888888;
      font-size: 11px; }

.utterance .text-template {
  padding: 10px 12px;
  margin-right: 8px;
  max-width: 210px;
  line-height: 130%;
  word-wrap: break-word; }

.utterance.right .text-template {
  position: relative;
  word-wrap: break-word;
  color: #fff;
  background-color: #43D172;
  border-radius: 10px; }

.utterance.right .text-template:after {
  position: absolute;
  left: 100%;
  top: 13px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  border-width: 5px;
  border-left-color: #43D172; }

.utterance.left .text-template {
  position: relative;
  margin-left: 13px;
  word-wrap: break-word;
  background-color: #e8e8e8;
  border-radius: 10px; }

.utterance.left .text-template:after {
  position: absolute;
  right: 100%;
  top: 13px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  border-width: 5px;
  border-right-color: #e8e8e8; }

.utterance .image-template {
  margin-top: 0px;
  margin-left: 8px;
  width: auto;
  max-width: 250px; }
  .utterance .image-template img {
    width: auto;
    max-width: 250px;
    border-radius: 10px; }

.utterance .audio-template {
  margin-top: 0;
  margin-left: 8px;
  width: 95%; }
  .utterance .audio-template audio {
    width: 95%;
    border-radius: 10px; }

.utterance .video-template {
  margin-top: -10px;
  margin-left: 8px;
  width: 95%; }
  .utterance .video-template video {
    padding: 0;
    margin: 0;
    width: 95%;
    border-radius: 10px; }

.utterance .buttons-template {
  margin-left: 8px;
  width: 250px;
  min-width: 250px;
  border: 1px solid #f0f0f0;
  border-radius: 10px; }
  .utterance .buttons-template img {
    width: 250px;
    border-radius: 10px 10px 0 0; }
  .utterance .buttons-template .title {
    padding: 4px 8px 0 8px;
    font-weight: bold;
    word-wrap: break-word; }
  .utterance .buttons-template .description {
    padding: 4px 8px 8px 8px;
    font-size: 12px;
    word-wrap: break-word; }
  .utterance .buttons-template .action-buttons {
    position: relative;
    width: 250px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    background-color: #fff; }
    .utterance .buttons-template .action-buttons .utterance-button {
      padding: 14px;
      width: 222px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      border-bottom: 1px solid #f0f0f0;
      color: #245fbb; }
    .utterance .buttons-template .action-buttons .utterance-button:first-child {
      border-top: 1px solid #f0f0f0; }
    .utterance .buttons-template .action-buttons .utterance-button:last-child {
      border-bottom: none;
      border-radius: 0 0 10px 10px; }
    .utterance .buttons-template .action-buttons .utterance-button:hover {
      background-color: #f8f8f8; }

.utterance .confirm-template {
  margin-left: 8px;
  width: 250px;
  border: 1px solid #f0f0f0;
  border-radius: 10px; }
  .utterance .confirm-template .confirm-message {
    border-radius: 10px 10px 0 0;
    padding: 12px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #e8e8e8; }
  .utterance .confirm-template .action-buttons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border-radius: 0 0 10px 10px;
    background-color: #fff; }
    .utterance .confirm-template .action-buttons .utterance-button {
      padding: 14px;
      width: 50%;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      color: #245fbb; }
    .utterance .confirm-template .action-buttons .utterance-button:first-child {
      border-right: 1px solid #f0f0f0; }
    .utterance .confirm-template .action-buttons .utterance-button:hover {
      background-color: #f8f8f8; }

.utterance .carousel-template {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 16px; }

.utterance {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 16px;
  font-size: 14px; }

.utterance.left {
  justify-content: flex-start; }

.utterance.right {
  justify-content: flex-end; }

.utterance.row {
  flex-direction: row; }

.utterance.column {
  flex-direction: column; }

.repl-ai-chatboard-form {
  border-top: 1px solid #e8e8e8; }
  .repl-ai-chatboard-form:placeholder-shown {
    color: #e8e8e8; }
  .repl-ai-chatboard-form::-webkit-input-placeholder {
    color: #e8e8e8; }
  .repl-ai-chatboard-form:-moz-placeholder {
    color: #e8e8e8;
    opacity: 1; }
  .repl-ai-chatboard-form::-moz-placeholder {
    color: #e8e8e8;
    opacity: 1; }
  .repl-ai-chatboard-form:-ms-input-placeholder {
    color: #e8e8e8; }
  .repl-ai-chatboard-form .send-button, .repl-ai-chatboard-form .repl-ai-chatboard-custom-button {
    text-align: center;
    text-decoration: none;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    background-color: #fff;
    color: #7A827D; }
    .repl-ai-chatboard-form .send-button.separator-right, .repl-ai-chatboard-form .repl-ai-chatboard-custom-button.separator-right {
      border-right: 1px solid #e8e8e8; }
  .repl-ai-chatboard-form input[type=text] {
    font-size: 16px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #e8e8e8; }
  .repl-ai-chatboard-form input[type=text]:focus {
    outline: none !important; }

/*# sourceMappingURL=repl-ai-widget.css.map*/

/*    application.css追記分    */

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }


/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }


/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }


/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.article {
  background-color: #fff;
  padding: 32px;
  font-size: 1em;
  color: #333; }
  .article > :first-child {
    margin-top: 0; }
  .article h1,
  .article h2,
  .article h3,
  .article h4,
  .article h5,
  .article h6 {
    font-weight: bold;
    line-height: 1.5;
    font-feature-settings: "palt";
    margin-top: 2.2em;
    margin-bottom: 1.5em;
    cursor: pointer;
    position: relative; }
    .article h1 a,
    .article h2 a,
    .article h3 a,
    .article h4 a,
    .article h5 a,
    .article h6 a {
      text-decoration: none; }
    .article h1 .fa-link,
    .article h2 .fa-link,
    .article h3 .fa-link,
    .article h4 .fa-link,
    .article h5 .fa-link,
    .article h6 .fa-link {
      display: none;
      color: #999;
      padding: 12px 8px 4px; }
      .article h1 .fa-link:hover,
      .article h2 .fa-link:hover,
      .article h3 .fa-link:hover,
      .article h4 .fa-link:hover,
      .article h5 .fa-link:hover,
      .article h6 .fa-link:hover {
        color: #4aac00; }
    .article h1:hover .fa-link,
    .article h2:hover .fa-link,
    .article h3:hover .fa-link,
    .article h4:hover .fa-link,
    .article h5:hover .fa-link,
    .article h6:hover .fa-link {
      display: block;
      position: absolute;
      top: 5px;
      left: -28px;
      font-size: 0.6em; }
    .article h1 > .fragment,
    .article h2 > .fragment,
    .article h3 > .fragment,
    .article h4 > .fragment,
    .article h5 > .fragment,
    .article h6 > .fragment {
      position: relative;
      display: block;
      top: -1.5em; }
  .article h1 {
    font-size: 1.8em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.1em; }
    @media (max-width: 480px) {
      .article h1 {
        font-size: 1.7em; } }
  .article h2 {
    font-size: 1.6em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.1em; }
    @media (max-width: 480px) {
      .article h2 {
        font-size: 1.5em; } }
  .article h3 {
    font-size: 1.4em; }
    @media (max-width: 480px) {
      .article h3 {
        font-size: 1.3em; } }
  .article h4 {
    font-size: 1.2em; }
  .article h5 {
    font-size: 1em; }
  .article h6 {
    font-size: 1em; }
  .article p {
    line-height: 1.9; }
    .article p + p {
      margin-top: 1.5em; }
  .article code {
    background-color: #eee;
    padding: 0.1em 0.4em;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }
    .article code .inline-code-color {
      border-radius: 3px;
      border: 1px solid #ddd;
      display: inline-block;
      height: 0.8em;
      margin-left: 4px;
      vertical-align: middle;
      width: 0.8em; }
  .article strong {
    font-weight: bold; }
  .article em {
    font-style: italic; }
  .article del {
    text-decoration: line-through; }
  .article a {
    color: #4aac00; }
    .article a:visited {
      color: #6200ac; }
  .article blockquote {
    border-left: 5px solid #ddd;
    color: #777;
    padding: 1em;
    padding-right: 0;
    margin: 1.5em 0; }
    .article blockquote .code-frame {
      margin: 1.5em -0.5em;
      padding: 1em 0.5em; }
    .article blockquote > ul,
    .article blockquote > ol {
      margin-top: 0; }
  .article ul,
  .article ol {
    padding-left: 1.5em;
    margin: 1.5em 0;
    line-height: 1.9; }
    .article ul p,
    .article ol p {
      margin: 1em 0; }
  .article ul {
    list-style-type: disc; }
    .article ul ul {
      list-style-type: circle;
      margin: 0; }
      .article ul ul ul {
        list-style-type: square; }
  .article ol {
    list-style-type: decimal; }
    .article ol ol {
      margin: 0; }
  .article img {
    margin: 1.5em 0;
    max-width: 100%; }
  .article img.emoji {
    margin: 0; }
  .article .code-frame {
    margin: 1.5em -32px;
    padding: 1em 32px;
    font-size: 0.9em; }
    @media (max-width: 992px) {
      .article .code-frame {
        font-size: 0.8em; } }
    @media (max-width: 770px) {
      .article .code-frame {
        margin: 1.5em -16px;
        padding: 1em 16px; } }
    @media (max-width: 480px) {
      .article .code-frame {
        margin: 1.5em calc((100vw - 100%) / -2);
        padding: 1em calc((100vw - 100%) / 2); } }
  .article .code-lang {
    color: #eee;
    display: inline-block;
    background-color: #777;
    padding: 2px 4px;
    transform: translateY(-1em);
    word-break: break-all; }
    @media (max-width: 480px) {
      .article .code-lang {
        transform: translateY(-12px); } }
  .article pre {
    display: block;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    line-height: 1.8; }
  .article table {
    display: block;
    overflow: auto;
    margin: 1.5em 0;
    border-left: 1px solid #ddd;
    border-collapse: collapse; }
  .article tr:nth-child(odd) {
    background-color: #eee; }
  .article th {
    font-weight: bold;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 8px 10px; }
  .article td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 8px 10px; }
  .article hr {
    margin: 3em 0;
    border: 0;
    height: 2px;
    background-color: #ddd; }
  .article dl {
    margin: 1.5em 0; }
  .article dt {
    font-weight: bold; }
  .article dd {
    padding-left: 2em; }
  .article .MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden; }
  .article .cp_embed_wrapper {
    margin: 1.5em 0; }
  .article_body {
    color: #4a4a4a;
    word-wrap: break-word;
    word-break: break-all; }
  .article_supplement {
    font-size: 14px;
    background-color: #f1f8ff;
    margin: 3em 0;
    padding: 16px;
    border-radius: 3px; }
    .article_supplement_heading {
      margin-top: 0;
      margin-bottom: 1em;
      font-weight: bold;
      font-size: 16px; }
    .article_supplement_text {
      margin: 1em 0; }
  .article > *:first-child {
    margin-top: 0 !important; }

.articlesTree_article {
  padding-left: 20px;
  position: relative;
  line-height: 1.8; }
  .articlesTree_article:before {
    content: "*";
    position: absolute;
    top: 3px;
    left: 4px; }
  .articlesTree_article a:hover {
    text-decoration: underline; }

.articlesTree_category {
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-wrap: wrap; }
  .articlesTree_category + .articlesTree_category {
    margin-top: 64px; }
  .articlesTree_category_heading {
    width: 100%;
    color: #555;
    font-size: 36px;
    margin-bottom: 24px; }
    .articlesTree_category_heading a {
      color: inherit; }

.articlesTree_section {
  margin-bottom: 30px;
  vertical-align: top;
  width: 50%; }
  @media (max-width: 770px) {
    .articlesTree_section {
      width: 100%; } }
  .articlesTree_section_heading {
    color: #555;
    font-size: 18px;
    margin-bottom: 16px; }
    .articlesTree_section_heading a {
      color: inherit; }

a {
  color: #4aac00;
  text-decoration: none; }
  a:visited {
    color: #6200ac; }

body {
  font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
  background-color: #f6f6f6; }

.breadcrumbs {
  list-style-type: none;
  margin-bottom: 36px; }
  .breadcrumbs_activeLink {
    color: inherit; }
  .breadcrumbs_element {
    display: inline-block; }
    .breadcrumbs_element + .breadcrumbs_element:before {
      content: ">";
      color: #4aac00; }
    .breadcrumbs_element a {
      padding-left: 8px;
      padding-right: 8px; }
    .breadcrumbs_element:first-child a {
      padding-left: 0; }

/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-genderless:before,
.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.footer {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px; }
  .footer_inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px; }
    @media (max-width: 1400px) {
      .footer_inner {
        max-width: 1100px; } }
  .footer_inner {
    border-top: solid #eee 1px;
    padding-bottom: 40px;
    padding-top: 40px; }
  .footer_link {
    display: inline-block;
    margin-right: 12px; }
    .footer_link:last-child {
      margin-right: 0; }
    .footer_link-copyright a {
      color: #777; }
  .footer_links {
    overflow: hidden; }
    .footer_links-left {
      float: left; }
    .footer_links-right {
      float: right; }

.header {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #55c500;
  background-position: left top, left top;
  background-size: 400px, 400% 400%;
  background-repeat: repeat, no-repeat;
  background-image: url("/images/header-bg.png"), linear-gradient(-45deg, #32deaf, #55c500);
  padding-bottom: 32px;
  padding-top: 32px;
  overflow: hidden;
  animation: header-gradient 15s ease infinite; }
  .header_inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px; }
    @media (max-width: 1400px) {
      .header_inner {
        max-width: 1100px; } }


@keyframes header-gradient {
  0% {
    background-position: left top, 0% 50%; }
  50% {
    background-position: left top, 100% 50%; }
  100% {
    background-position: left top, 0% 50%; } }
  .header,
  .header a {
    color: #fff; }
  .header_logo {
    float: left; }
  .header_search {
    float: right;
    line-height: 56px;
    position: relative; }
    .header_search:before {
      content: "\f002";
      color: #999;
      font-family: FontAwesome;
      line-height: 0;
      position: absolute;
      top: 52%;
      padding-left: 12px;
      width: 32px; }
    .header_search_submitButton {
      display: none; }
    .header_search_textField {
      background-color: #fff;
      background-position: right center;
      background-repeat: no-repeat;
      border-radius: 3px;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
      color: #333;
      font-size: 13px;
      min-height: 34px;
      outline: none;
      display: block;
      padding: 6px 8px;
      vertical-align: middle;
      width: 100%;
      display: inline-block;
      padding-left: 32px;
      width: auto; }
      .header_search_textField:focus {
        border-color: #51a7e8;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5); }

.largeSearchForm {
  margin-bottom: 48px; }
  .largeSearchForm-smallMargin {
    margin-bottom: 12px; }
  .largeSearchForm_formControl {
    background-color: #fff;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    color: #333;
    font-size: 13px;
    min-height: 34px;
    outline: none;
    display: block;
    padding: 6px 8px;
    vertical-align: middle;
    width: 100%; }
    .largeSearchForm_formControl:focus {
      border-color: #51a7e8;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5); }
  .largeSearchForm_submitButton {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    user-select: none;
    -webkit-appearance: none;
    display: block;
    float: right;
    margin-left: 8px; }
    .largeSearchForm_submitButton i {
      font-style: normal;
      font-weight: 500;
      opacity: 0.6; }
    .largeSearchForm_submitButton .octicon {
      vertical-align: text-top; }
    .largeSearchForm_submitButton .counter {
      text-shadow: none;
      background-color: #e5e5e5; }
    .largeSearchForm_submitButton:focus {
      text-decoration: none;
      border-color: #51a7e8;
      outline: none;
      box-shadow: 0 0 5px rgba(81, 167, 232, 0.5); }
    .largeSearchForm_submitButton:focus:hover, .largeSearchForm_submitButton.selected:focus {
      border-color: #51a7e8; }
    .largeSearchForm_submitButton:hover, .largeSearchForm_submitButton:active, .largeSearchForm_submitButton.zeroclipboard-is-hover, .largeSearchForm_submitButton.zeroclipboard-is-active {
      text-decoration: none;
      background-color: #ddd;
      background-image: linear-gradient(#eee, #ddd);
      border-color: #ccc; }
    .largeSearchForm_submitButton:active, .largeSearchForm_submitButton.selected, .largeSearchForm_submitButton.zeroclipboard-is-active {
      background-color: #dcdcdc;
      background-image: none;
      border-color: #b5b5b5;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15); }
    .largeSearchForm_submitButton.selected:hover {
      background-color: #cfcfcf; }
    .largeSearchForm_submitButton:disabled, .largeSearchForm_submitButton:disabled:hover, .largeSearchForm_submitButton.disabled, .largeSearchForm_submitButton.disabled:hover {
      color: rgba(102, 102, 102, 0.5);
      cursor: default;
      background-color: rgba(229, 229, 229, 0.5);
      background-image: none;
      border-color: rgba(197, 197, 197, 0.5);
      box-shadow: none; }
  .largeSearchForm_textFieldContainer {
    overflow: hidden; }

.l-main {
  display: flex; }
  .l-main .article {
    max-width: 860px; }

.l-section {
  margin-top: 16px; }
  .l-section .section {
    width: 100%;
    max-width: 860px; }

@media (max-width: 1120px) {
  .l-main {
    flex-wrap: wrap;
    margin-right: 0; }
  .toc {
    width: 100%;
    margin-top: 20px; } }

.main {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 64px;
  padding-top: 32px; }
  .main_inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px; }
    @media (max-width: 1400px) {
      .main_inner {
        max-width: 1100px; } }

.searchResult .cse .gsc-control-cse,
.searchResult .gsc-control-cse {
  padding: 0; }

.searchResult .gcsc-branding-img-noclear {
  max-width: inherit; }

.searchResult .gcsc-branding-text {
  line-height: 14px; }

.searchResult .gsc-selected-option-container {
  box-sizing: content-box; }

.searchResult .gsc-table-result,
.searchResult .gsc-thumbnail-inside,
.searchResult .gsc-url-top {
  padding-left: 0; }

.searchResult b {
  font-weight: bold; }

.section {
  background-color: #fff;
  padding: 32px; }

.toc {
  width: 270px;
  margin-left: 20px;
  font-size: 14px; }
  .toc__inner {
    position: -webkit-sticky;
    position: sticky;
    top: 1em; }
  .toc li {
    line-height: 1.4;
    margin: 3px 0; }
    .toc li a {
      padding: 3px 10px;
      line-height: 1.4;
      color: #999; }
      .toc li a:hover {
        color: #333; }
    .toc li > ul {
      padding-left: 1em;
      padding-top: .5em; }
